* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body {
  width: 100%;
  height:auto;
  overflow-y: auto;
}

h1{
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: xxx-large;
  color: #ececec;
}

.mainWrapper{
  background-color: #151515;
  width:100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contentContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px #8400ff solid;
  width:60%;
  height: auto;
}

.particles-container {
  z-index: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border:2px #6565ab solid;
  height: 100vh;
  width:100%;
}

.heroTextWrapper {
  height: 100vh;
  display: flex;
  place-items: center;
  color: white;
  pointer-events: none;
  flex-direction:column;
  border:2px green solid;
  justify-content: space-evenly;
}

.heroTextWrapper2 {
  height: auto;
  display: grid;
  place-items: center;
  color: white;
  pointer-events: none;
  border:2px #b2970d solid;
}

.scrollTextBoxWrapper{
  width:100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.scrollTextBox{
  background-color: rgba(93, 50, 217, 0);
  width:200px;
  height: auto;
  overflow: hidden;
  align-items: center;
  display: flex;
  justify-content: flex-end;
  border:2px #58d944 solid;
}

.techStackWrapper{
  width:100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  border:2px #9a1515 solid;
}

.techStack{
  width:50%;
  position: relative;
  display: flex;
  flex-direction: row;
  height:40px;
  border:2px #79159a solid;
}

.techIcon{
  width:30px;
  height: 30px;
  transition: transform 120ms ease;   /* smooth */
}

.techIcon svg:hover {
  border:2px #ffffff solid;
}

.techIcon:hover{
  transform: scale(1.25);
}


.assignmentWrapper{
  height: 300px;
  width: 100%;
  border:2px yellow solid;
}