
:root{
  --primary-bg-color: #000000;
  --primary-item-bg-color: #171717;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body {
  width: 100%;
  height:auto;
  overflow-y: auto;
  font-family: "Roboto", sans-serif;
  font-weight: 450;
  font-style: normal;
}

h1{
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 4rem;
  color: #ececec;
  align-self: center;
  vertical-align: center;
  text-align: center;

}

h2{
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 3rem;
}

h2 span{
  background: -webkit-linear-gradient(#53c9c3, #03a198);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.headerTextWrapper{
  height: 200px;
  line-height: 200px;
  text-align: center;
  vertical-align: middle;
}

.mainWrapper{
  background-color: var(--primary-bg-color);
  width:100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contentContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:50%;
  height: auto;
}

.particles-container {
  z-index: 0;
  top:0;
  position: fixed;
  width: 100%;
  height: 100vh;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width:100%;
}

.heroTextWrapper {
  height: 100vh;
  display: flex;
  place-items: center;
  pointer-events: none;
  flex-direction:column;
  justify-content: space-evenly;
}

.heroTextWrapper2 {
  height: auto;
  display: grid;
  place-items: center;
  pointer-events: none;

}

.heroTextWrapper3 {
  height: auto;
  display: grid;
  place-items: center;
  pointer-events: none;
}


.scrollTextBoxWrapper{
  z-index: 999;
  width:100%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.scrollTextBox{
  background-color: rgba(93, 50, 217, 0);
  width:200px;
  height: auto;
  overflow: hidden;
  align-items: center;
  display: flex;
  justify-content: flex-end;
}

.scrollTextBox span{
  background: -webkit-linear-gradient(#53c9c3, #03a198);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.techStackWrapper{
  width:100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.techStack{
  margin-top:50px;
  position: relative;
  display: flex;
  flex-direction: row;
  height:40px;
}

.techIcon{
  margin:10px;
  z-index: 999;
  width:30px;
  height: 30px;
  transition: transform 120ms ease;   /* smooth */
}

.techIcon svg:hover {
  border:2px #ffffff solid;
}

.techIcon:hover{
  transform: scale(1.25);
}

.footer{
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-family: "Roboto", sans-serif;
  font-weight: 450;
  font-style: normal;
}

.footerName{
  margin-left:5%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width:auto;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.8);
}

.footerLinks{
  margin-right:5%;
  display: flex;
  justify-content: center;
}

.footerLinksWrapper{
  display:flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;

}
.footerLinksWrapper span{
  width:20px;
  height:20px;
  opacity: 80%;
  text-align: end;
}