
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-weight: 450;
  font-style: normal;
  color: rgb(51, 50, 50);
  overflow:hidden;
}

h1{
  color:red;
  z-index: 999;
}


.hero { position: relative; height: 100vh; background-color: #151515
}

.hero > .particles-container {
  position: absolute;
  background-repeat: no-repeat;
  background-position: top center;
  background-attachment: fixed;
  width: 100%;
  height: 100vh;
}

.heroText {
  position: relative;
  z-index: 999;
  height: 100%;
  display: grid;
  place-items: center;
  color: white;
  pointer-events: none;
}