
.assignmentWrapper{
    width:100%;
    height:100px;
    color:white;

}

.card{
    min-width: 300px;
}

.AssignmentCardSpacer{
    width:100%;
    height:100px;
}

.card li::marker {
    color: #03bfb5;
}

.assignmentCardCompany{
    font-family: "Roboto", sans-serif;
    font-weight: 450;
    font-style: normal;
    font-size: 1rem;
}
.assignmentCardTitle{
    margin-top: 10px;
    font-size: 2rem;
}