
.assignmentWrapper{
    width:100%;
    height:100px;
    color:white;

}
.assignmentCardContainer{
    width:520%;
    height:100px;
    border: 2px red solid;
    color:white;
}

.AssignmentCardSpacer{
    width:100%;
    height:100px;
}