
.assignmentWrapper{
    width:100%;
    height:100px;
    color:white;
}
.assignmentCardContainer{
    width:520%;
    height:100px;
    border: 2px red solid;
    color:white;
    font-family: "Roboto", sans-serif;
    font-weight: 450;
    font-style: normal;
    font-size: 4rem;
}

.AssignmentCardSpacer{
    width:100%;
    height:100px;
}

.card li::marker {
    color: #03bfb5;
}

.assignmentCardCompany{
    font-family: "Roboto", sans-serif;
    font-weight: 450;
    font-style: normal;
    font-size: 1rem;
}
.assignmentCardTitle{
    margin-top: 10px;
    font-size: 2rem;
}