
.assignmentWrapper{
    width:100%;
    height:100px;
    color:white;

}

.card{
    min-width: 300px;
}

.AssignmentCardSpacer{
    width:100%;
    height:100px;
}

.card li::marker {
    color: #03bfb5;
}

.assignmentCardCompany{
    font-family: "Roboto", sans-serif;
    font-weight: 450;
    font-style: normal;
    font-size: 1rem;
    display: flex;
    flex-direction: row;
}
.assignmentCardTitle{
    margin-top: 10px;
    font-size: 1rem; /* min, fluid, max */
    color: white;
}

.assignmentCardName{
    margin-top: 10px;
    font-size: clamp(1.2rem, 3vw, 1.5rem); /* min, fluid, max */
    color: white;
}

.assignmentCardVia{
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;   /* <-- centers "via" + pill together */

}

.assignmentCardVia span{
    border:1px #03a198 solid;
    border-radius: 10px;
    padding: 2px 10px;
    width:100%;
    height: 100%;
    margin-left: 10px;
    color: #bebebe;
    font-weight: 100;
    font-style: italic;
    font-size: 0.7rem;

}

