.scrollingNamesWrapper{
    height: 150px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    border: 2px red solid;
    pointer-events: none;
}

.companyName{
    height: 150px;
    width: 200px;
    overflow: hidden;      /* clip anything outside viewBox */
}
